[MESSAGES CONTROL]
disable = broad-exception-caught,
          broad-exception-raised,
          consider-using-with,
          cyclic-import,
          duplicate-code,
          missing-class-docstring,
          missing-function-docstring,
          multiple-statements,
          too-few-public-methods,
          too-many-branches,
          too-many-locals,
          too-many-nested-blocks

[TYPECHECK]
ignored-modules = wx,
                  PyInstaller,
